<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ParkPulse</title>
	<link rel="stylesheet" href="/stylesheets/style.css">


	<script src="/javascripts/script.js">
	</script>


</head>
<body>
  <div id="main-content">
    <h1>ParkPulse</h1>

    <div id="image-container">
      <img id="image" src="https://khms3.google.com/kh/v=967?x=144171&y=77057&z=18" >
    </div>

	<a href="https://www.google.com/" target="_blank" id="google-maps-link">Take Me To Google Maps</a>

    <div id="buttons">
      <button onclick=prev()>Previous</button>
      <button onclick=next()>Next</button>
    </div>

  </div>

</body>
</html>