<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ParkPulse</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  
  
  <script>
    let currentIndex = 0;
    let csvData = [];
  
    // Function to fetch data from the server
    async function fetchData() {
      try {
        const response = await fetch('/api/data'); // replace '/api/data' with your actual server endpoint
        const data = await response.json();
  
        // Assuming the response is an array of objects, like your CSV data
        csvData = data;
  
        // Now you can use csvData as needed
        console.log(csvData);
      } catch (error) {
        console.error('Error fetching data:', error);
      }
    }
  
    // Call the fetchData function to get data when needed
    fetchData();
    

    function prev() {
      currentIndex -= 1;
      if (currentIndex < 0) {
        console.warn("index out of range");
        currentIndex = 0;
      }
      document.getElementById("temp").innerHTML = Object.values(csvData[currentIndex]);
    }

    function next() {
      currentIndex += 1;
      if (currentIndex >= csvData.length) {
        console.warn("index out of range");
        currentIndex = csvData.length - 1;
      }
      document.getElementById("temp").innerHTML = Object.values(csvData[currentIndex]);
      
    }

  </script>


</head>
<body>
  <div id="main-content">
    <h1>ParkPulse</h1>

    <div id="image-container">
      <img id="image" src="https://khms3.google.com/kh/v=967?x=144171&y=77057&z=18" >
    </div>

    <p id="temp">Temp</p>
    
    <div id="buttons">
      <button onclick=prev()>Previous</button>
      <button onclick=next()>Next</button>
    </div>
  </div>

</body>
</html>